data/MNIST
data/MUTAG
data/VG
data/BA3/processed

param/filtered
param/pg
param/refine

utils/__pycache__/
train/__pycache__/
gnns/__pycache__/
explainers/__pycache__/
datasets/__pycache__/
visual_genome/

nohup.out
train/nohup.out