data/MNIST
data/MUTAG
data/VG
data/BA3/processed
data/BA3/processed_torch=1.5

param/filtered
param/pg
param/refine
param/gnns_torch=1.8
param/refine_torch=1.8

utils/__pycache__/
train/__pycache__/
gnns/__pycache__/
explainers/__pycache__/
datasets/__pycache__/
visual_genome/

nohup.out
train/nohup.out